* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: 1px solid red;
  white-space: nowrap;
  padding: 10px 25px;
  background-color: #d9d9d9;
  font-family: Roboto Bold;
  border-radius: 20px;
  letter-spacing: 1px;
  position: relative;
}
.container img {
  width: 12px;
}
.menuList {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1.5px solid #d9d9d9;
}
